version: "3.9"

services:

  fastapi:
    build:
      context: ./backend
    container_name: fastapi_app
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/fastapi_app
    env_file:
      - .env
    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port 8080
    depends_on:
      - db
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health/" ]
      interval: 30s
      timeout: 3s
      retries: 3

  streamlit:
    build:
      context: ./frontend
    container_name: streamlit_app
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    depends_on:
      fastapi:
        condition: service_healthy
    env_file:
      - .env
    command: >
      streamlit run streamlit_app/main.py
      --server.address 0.0.0.0
      --server.port 8501
      --server.headless true

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: collab_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
